jupyter-completed-private/*
jupyter-completed-in-class/.ipynb_checkpoints/
python-scripts-private/*
.ipynb_checkpoints/
.DS_Store
python-scripts-completed-in-class/covid.fasta
python-scripts-completed-in-class/covid.gff3
notes/

